<!DOCTYPE html>
<html>
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8610HZ3XM9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8610HZ3XM9');
    </script>
    <title>AcademiaJobs</title>
    <meta name="description" content="Advertise, Post or find Academic Jobs. A career platform for academics and intellectuals">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <script type=”text/javascript” src=”http://localhost:3000/counters/1.js"></script>
    <%= render 'shared/flashes' %>
    <table class="layout-table">
      <tr class="layout-content-row">
        <td class="layout-content-column">
          <%= yield %>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </table>
  </body>
</html>
